.login-form {
  max-width: 300px;
  height: 205px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 30%;
  margin: auto;

  .login-form-button {
    width: 100%;
  }
}
